In [2]:
import pandas as pd
import numpy as np

In [11]:
days = pd.Series(["MOnday", "Tuesday", "Wednesday"], index=["a", "b", "c"])
days

a       MOnday
b      Tuesday
c    Wednesday
dtype: object

In [12]:
day_list = np.array(["MOnday", "Tuesday", "Wednesday"])
numpy_days = pd.Series(day_list, index=["a", "b", "c"])
numpy_days

a       MOnday
b      Tuesday
c    Wednesday
dtype: object

In [29]:
a_day = pd.Series({
    "a": "Monday", 
    "b": "Tuesday", 
    "c": "Wednesday"
})

# accessing series 
print(a_day[2])
print()
print(a_day["a"])

Wednesday

Monday

C:\Users\Balogun Oladimeji\AppData\Local\Temp\ipykernel_9008\645540130.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(a_day[2])

DATAFRAMES

In [31]:
empty = pd.DataFrame()
print(empty)

Empty DataFrame
Columns: []
Index: []

In [35]:
# a country dataframe 
countries = pd.DataFrame({
    "country": ["Ghana", "Nigeria", "Canada", "Benin"],
    "population": [4444, 6993, 1000, 230],
    "gdp": [3_000, 8_000, 7_000, 9_000]
})
print(countries.shape)
print(type(countries))
countries

(4, 3)
<class 'pandas.core.frame.DataFrame'>

   country  population   gdp
0    Ghana        4444  3000
1  Nigeria        6993  8000
2   Canada        1000  7000
3    Benin         230  9000

In [41]:
df_list = ["Ghana", 5999 ,  800], ["Nigeria", 800, 200], ["Canada", 8000, 7000]
new_df = pd.DataFrame(df_list, columns=["country", "population", "gdp"])
new_df

   country  population   gdp
0    Ghana        5999   800
1  Nigeria         800   200
2   Canada        8000  7000

In [44]:
# the at and iat method 
new_df.iat[1, 1]

800