In [3]:
import seaborn as sns 
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd

In [5]:
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin-1")

In [6]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [9]:
df.Area.nunique()

49

In [11]:
df.groupby("Area")["Y2017"].sum().sort_values(ascending=False)

Area
Nigeria                        1483268.23
Egypt                           866379.92
South Africa                    517590.54
Ethiopia                        448683.76
Morocco                         388495.36
Ghana                           337599.06
Algeria                         325644.27
United Republic of Tanzania     322616.85
Kenya                           264660.66
Sudan                           239931.92
Cameroon                        232030.43
Angola                          229159.57
Côte d'Ivoire                   224599.01
Uganda                          213950.38
Malawi                          181098.71
Mozambique                      161407.98
Mauritania                      156665.46
Mali                            149928.33
Madagascar                      131197.73
Niger                           126707.58
Benin                           124771.22
Tunisia                         124167.20
Zambia                          103223.77
Burkina Faso                    101855.07
Guinea                           98138.87
Senegal                          95681.15
Zimbabwe                         75919.34
Rwanda                           73663.69
Chad                             71594.68
Sierra Leone                     55311.33
Eswatini                         54343.33
Mauritius                        51114.83
Togo                             49841.88
Congo                            41181.68
Central African Republic         29937.00
Namibia                          29874.89
Liberia                          29342.20
Gabon                            27979.64
Gambia                           23154.18
Djibouti                         22729.91
Botswana                         22101.30
Lesotho                          21267.96
Guinea-Bissau                    19102.77
Cabo Verde                       14650.74
Sao Tome and Principe            12662.63
Seychelles                         442.34
Comoros                             59.84
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Name: Y2017, dtype: float64

In [12]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [13]:
df.groupby("Element")

In [14]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [15]:
df["Element Code"].corr(df[["Y2014", "Y2015", "Y2016", "Y2017", "Y2018"]])

ValueError: operands could not be broadcast together with shapes (60943,) (60943,5)

In [20]:
for i in ["Y2014", "Y2015", "Y2016", "Y2017", "Y2018"]:
    print(i, df['Element Code'].corr(df[i]) *100)

Y2014 2.4456819495221755
Y2015 2.388919930163996
Y2016 2.3443997584961425
Y2017 2.425400776004575
Y2018 2.427857195351956

In [54]:
for i in ["Y2014", "Y2015", "Y2016", "Y2017", "Y2018"]:
    print(i, df[i].sum())

Y2014 7965086.130000001
Y2015 8032340.2299999995
Y2016 8112472.649999999
Y2017 8375729.189999999
Y2018 8554629.96

In [21]:
df.groupby("Element")["Y2017"].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [23]:
y = [(2, 4), (7, 8), (1, 5, 9)]
y[1][-1]

8

In [49]:
array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

array[:1]

[[94, 89, 63]]

In [26]:
df["Y2014"].isnull().sum(), df["Y2014"].isnull().sum() / len(df) *100

(1589, 2.6073544131401474)

In [35]:
df[df["Area" == "Madagascar"]]

KeyError: False

In [36]:
df.Y2017.describe()

count     59437.000000
mean        140.917765
std        1671.862359
min       -1582.000000
25%           0.000000
50%           0.100000
75%           9.000000
max      190873.000000
Name: Y2017, dtype: float64

In [41]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ["Age", "Nationality", "Overall"]

pd.DataFrame(
    lst, columns=col, index=[1, 2, 3])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [51]:
df.groupby("Element")["Y2017"].sum().sort_values(ascending=True)

Element
Tourist consumption                            91.00
Fat supply quantity (g/capita/day)          10253.84
Protein supply quantity (g/capita/day)      11842.45
Seed                                        24870.14
Residuals                                   35500.00
Food supply quantity (kg/capita/yr)         48690.04
Stock Variation                             54316.91
Other uses (non-food)                       91645.97
Losses                                     160614.00
Export Quantity                            182338.80
Feed                                       223705.68
Processing                                 292836.00
Import Quantity                            294559.09
Food supply (kcal/capita/day)              454681.00
Total Population - Both sexes             1112641.00
Food                                      1258888.28
Production                                2030056.89
Domestic supply quantity                  2088198.10
Name: Y2017, dtype: float64

In [55]:
df.shape

(60943, 12)

In [57]:
my_tuppy = (1,2,5,8)
my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [59]:
df.groupby("Item")["Y2015"].sum(), df.groupby("Item")["Y2018"].sum()

(Item
 Alcohol, Non-Food        2180.00
 Alcoholic Beverages     98783.72
 Animal Products         11811.73
 Animal fats            200675.72
 Apples and products     10559.15
                          ...
 Vegetables, Other      158104.08
 Vegetal Products       107064.17
 Wheat and products     234710.51
 Wine                     4251.81
 Yams                   203151.78
 Name: Y2015, Length: 119, dtype: float64,
 Item
 Alcohol, Non-Food        2293.00
 Alcoholic Beverages     97847.27
 Animal Products         11578.61
 Animal fats            269648.27
 Apples and products      9640.51
                          ...
 Vegetables, Other      163987.21
 Vegetal Products       107775.39
 Wheat and products     242645.19
 Wine                     4039.32
 Yams                   221272.09
 Name: Y2018, Length: 119, dtype: float64)